*{margin:0; padding: 0;}
body{
  width: 100vw;
  height: 100vh;
}
.jumbotrom{
  background-color: rgba(0, 0, 0, 0.1);
  height: 50vh;
  padding: 1em;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #141414;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  max-height: 480px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}
.nav-item{
  margin-right: 20px;
}